

body {
  background-color: rgb(21, 32, 43);
  color: red;
}

.photo_button {
  width: 50px;
}

#photo_meta {
  margin: 20px 30px 30px 30px;
}

#picele {
  float: right;
  height: auto;
  width: auto;
  margin: -180px 0 0 0;
}

.filter-ctrl {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 30%;
  background-color: #fff;
  height: 98%;

  }


.pic_diver {
  margin: 10px;
}

.pic_div {
  margin: 40px 500px 200px 20px;
  padding:40px;
}
.pi_pic {
  margin: 10px;

}
